<div ng-controller="ScheduleController as ctrl">

    <div class="left-panel">
      <div>
        <div id="left-panel-header">
          <a id="home-link" href="/">53bus.ru</a>
        </div>
        <!-- <button class="btn btn-primary" id="buses-button">Автобусы/тралики</button> -->
        <div id="bus-number">
          <img ng-src="{{currentTransport.icon}}" class="schedule-transport-icon"/>
          {{currentTransport.name}}
        </div>
        
        <div 
          id="hidden-stops"
          ng-show="ctrl.showHiddenStops()">
          <h3>Скрытые остановки:</h3>
          <div
            ng-show="!ctrl.isStationShown($index)"
            ng-repeat="station in currentStations track by $index"
            ng-click="ctrl.hiddenStationClick(station)"
            class="btn btn-default station-button">
              {{station.name}}   
          </div>
        </div>
      </div>

      <div 
        ng-include="'html/transport_list.html'">
      </div>

    </div>

  <div class="main-content">
    
  <!-- @Menu @start --> 
  <div class="well well-lg square-borders">

    <div class="schedule-menu-row row" ng-hide="hideMenu || ctrl.isNoMenu()">
    

    <div class="schedule-menu-well well well-lg" id="menu-block">

      <div ng-show="!everydayIsTheSame && !workdaysOnly && !weekendOnly" class="col-md-5" id="day-menu" data-toggle="buttons">
        <div class="schedule-menu-button-row">
          Сегодня {{currentDayName}}, {{currentDayType}} день.
        </div>
        <label 
          class="btn btn-default schedule-menu-button "
          ng-class="{active: ctrl.isSelectedWorkdays()}"
          ng-click="ctrl.setCurrentWorkdays()">
            <input 
            type="radio" 
            name="options" 
            id="option1" 
            checked>
              Рабочий день
        </label>
        <label class="btn btn-default schedule-menu-button"
          ng-class="{active: ctrl.isSelectedWeekend()}"
          ng-click="ctrl.setCurrentWeekend()">
            <input 
            type="radio" 
            name="options" 
            id="option2"> 
              Выходной
        </label>
      </div>
      <div ng-show="everydayIsTheSame" class="col-md-5 schedule-menu-button-row">
        <h2>Ежедневно.</h2>
      </div>
      <div ng-show="workdaysOnly" class="col-md-5 schedule-menu-button-row">
        <h2>По рабочим дням.</h2>
      </div>
      <div ng-show="weekendOnly" class="col-md-5 schedule-menu-button-row">
        <h2>По выходным дням.</h2>
      </div>

        <div class="col-md-5">Фильтрация по времени:
          <div class="schedule-menu-button-row">
            <select 
              ng-model="selectedHour"
              ng-options="i for i in hours"> 
            </select> 
            <select 
              ng-model="selectedMinute"
              ng-options="i for i in minutes"> 
            </select> 
          </div>
          <button 
            ng-click="ctrl.setCurrentTime()" 
            class="btn schedule-menu-button">
              Текущее время
              (<span current-time></span>)
          </button>
          <button 
            ng-click="ctrl.setNullTime()"
            class="btn btn-danger schedule-menu-button">
            <span class="glyphicon glyphicon-remove"></span>
            Сбросить 
          </button>
        <label> 
          <input type="checkbox" ng-model="highlightOn">Подсвечивать уехавшие {{currentTransport.typeName}}</input>
        </label> 
        </div>

    </div>
    
  </div>
  <!-- @Menu @end --> 
   
    </div>

    <div class="schedule-table">
      <table class="table table-striped">
        <thead> 
          <tr>
            <th 
              ng-show="ctrl.isStationShown($index)"
              ng-repeat="station in currentStations track by $index"
              class="station-name">
                  <label>
                    {{station.name}}   
                    <input type="checkbox" ng-model="station.selected" />
                  </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in currentSchedule | filtertime:selectedHour:selectedMinute"> 
            <td ng-show="ctrl.isStationShown($index)"
                ng-repeat="time in row track by $index "
                ng-class="{'text-danger': ctrl.isTimeExpired(time) && highlightOn}">
              {{time}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
