/* app css stylesheet */

body {
    /* font-family: Bender-Black; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

#main-input {
    margin-bottom: 40px;
}

.right-station {
    color: red;
}

.station {
    color: black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.main-text {
    line-height: 256px;
}

.main-img-left {
    display: block;
    margin-left: auto;
    padding: 0;
    padding-right: 10px;
}

.main-img-right {
    display: block;
    margin-right: auto;
    padding: 0;
    padding-left: 35px;
}

.main-txt-left {
    text-align: right;
}

.vertical-line {
    border-left: thick solid #000000;
    height: 256px;
    width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-main {
    height: 150px; 
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px #d7d7d7 solid;
}

#logo-img {
    height: 150px; 
}

#footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #3071a9;
    border-color: #285e8e;
    color: white;
}


.middle-stripe {
    background-color: #3071a9;
    border-color: #285e8e;
    margin-top: 20px;
    color: white;
    height: 100px;
}

.stripe-text {
    font-size: large;
}

.button-container {
    /* width: 520px;*/
    overflow-y: auto;
}

.button-container > a {
    float: left;
    margin: 15px;
    color: #333333;
}

#bus-button {
    width: 70px;
}
