/* app css stylesheet */

body {
    /* font-family: Bender-Black; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    color: #333333;
}

#main-input {
    margin-bottom: 40px;
}

.right-station {
    color: red;
}

.station {
    color: black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.main-text {
    line-height: 256px;
}

.main-img-left {
    display: block;
    margin-left: auto;
    padding: 0;
    padding-right: 10px;
}

.main-img-right {
    display: block;
    margin-right: auto;
    padding: 0;
    padding-left: 35px;
}

.main-txt-left {
    text-align: right;
}

.vertical-line {
    border-left: thick solid #000000;
    height: 256px;
    width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-main {
    height: 50px; 
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px #d7d7d7 solid;
}

#logo-img {
    height: 50px; 
}

#footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #3071a9;
    border-color: #285e8e;
    color: white;
}


.middle-stripe {
    background-color: #3071a9;
    border-color: #285e8e;
    margin-top: 20px;
    color: white;
    height: 100px;
}

.stripe-text {
    font-size: large;
}

.button-container {
    overflow-y: auto;
}

.button-container > a {
    float: left;
    margin: 15px;
    color: #333333;
}

.checkbox-container {
    overflow-y: auto;
}

.checkbox-container > label {
    float: left;
    margin: 5px;
    color: #333333;
    width: 235px;
}

#station-checkbox {
    margin-right: 5px;
}

#bus-button {
    width: 70px;
}

/*
thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 60px;

}
tbody {
    height: 500px;
    overflow-y: auto;
}

thead {
}

tbody td, thead th {
    width: 10%; 
    float: left;
} 
*/
/* the maximum height of the table: */

div.schedule-table div.fixed-table-container-inner {
    max-height: 500px;

    border: 1px solid #aaaaaa;
    width: 100%;
}

/* the height of the header row */
div.schedule-table div.th-inner {
    line-height: 50px;
}

/* the height of the header row - this needs to match line-height above */
div.schedule-table div.fixed-table-container {
   padding-top: 50px;
}

div.schedule-table tr.hidden-header .th-inner {
  padding-right: 5px;
}

.schedule-table-ui {
    width: 500px;
    height: 500px;
}

.centerized {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.schedule-menu-button {
    width: 150px;
}

.schedule-menu-button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.schedule-menu-group {
    padding-left: 40px;
    padding-right: 40px;
}

.nav-bar-schedule {
    margin-bottom: 20px;
    padding-left: 20px;
}

.square-borders {
    border-radius: 0;
}

#choose-all-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
}

#choose-all-row {
    border-top: 1px #d7d7d7 solid;
    margin-top: 5px;
}

#stations-choosing-container {
    padding-bottom: 10px;
}

#bus-number {
    font-size: 100px;
    text-align: center;
}

.schedule-menu-well {
    background: white;
}

#show-menu-button {
    margin-bottom: 20px;
}
