#author {
    width: 150px;
    margin-left: auto;
    margin-bottom: 10px;
    /*display: inline;
    float: right;*/
}

#liveinternet-counter {
    width: 100px;
    margin-left: auto;
    /*display: inline;
    float: right;*/
}
