<div ng-controller="BusScheduleController as busController">

    <table class="table">
        <tr>
            <!--ng-attr-class="{{busController.isStationSearched(station) && 'right-station' || 'station'}}">-->
            <th 
                ng-repeat="station in currentBus.stations track by $index">
                {{station}} 
            </th>
        </tr>
        <tr ng-repeat="bus in busSchedule.schedule"> 
            <td 
                ng-attr-class="{{busController.isTimeSearched()"
                ng-repeat="time in bus track by $index">            
                {{time}}
            </td>
        </tr>
    </table>

</div>
