<div class="container-fluid" ng-controller="BusesController as busesController">

    
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6"> 
        <div class="stripe-text">Автобус:</div>
      </div>
     
      <div class="col-md-6"> 
        <div class="stripe-text">Троллейбус:</div>
      </div>
    </div>
      
    <div class="row"> 
      <div class="col-md-6 button-container"> 
        <!--<a href="#/buses/{{bus.id}}" ng-repeat="bus in buses | orderBy:nameInInt(bus.name)">-->
        <a href="#/buses/{{bus.id}}" ng-repeat="bus in buses | orderbuses">
            <button style="button" id="bus-button">
              {{bus.name}}
            </button>
        </a>
      </div>                   
      
      <div class="col-md-6 button-container"> 
        <a href=""><button style="button" id="bus-button"> 1 </button></a>
        <a href=""><button style="button" id="bus-button"> 2 </button></a>
        <a href=""><button style="button" id="bus-button"> 3 </button></a>
        <a href=""><button style="button" id="bus-button"> 4 </button></a>
        <a href=""><button style="button" id="bus-button"> 5 </button></a>
      </div>
    </div>

</div>
