<div ng-controller="BusScheduleController as busController">

    <div class="text-center" id="main-input">
    Enter bus/or bus stop: <input ng-model="query">
    </div>         

    <table class="table">
        <tr>
            <th 
            ng-attr-class="{{busController.isStationSearched(station) && 'right-station' || 'station'}}" 
            ng-repeat="station in currentBus.stations" > 
                {{station}} 
            </th>
        </tr>
        <tr ng-repeat="bus in busSchedule.schedule"> 
            <td 
                ng-attr-class="{{busController.isTimeSearched()"
                ng-repeat="time in bus track by $index">            
                {{time}}
            </td>
        </tr>
    </table>

</div>
