<div ng-controller="MainViewController as mainViewController" class="container-fluid">
   
    <div class="text-center" id="main-input">
    Enter bus/or bus stop: <input ng-model="query.$">
    </div>         

    <div class="row">
        <div class="col-xs-3"> 
            <table class="table">
                <tr>
                    <th><img height="50px" src="img/bus.png"/></th> 
                </tr>
                    <tr ng-repeat="bus in buses | filter:query">
                        <td>
                            <strong>
                                <a href="#/buses/{{bus.id}}">
                                    {{ bus.name }}
                                </a>
                            </strong>
                        </td>
                    </tr>      
            </table>
        </div>      
    
        <div class="col-xs-6"> 
            <table class="table">
            <tr>
                <th><img height="50px" src="img/bus_stop.png"/></th> 
            </tr>
            
            <!--ng-show="query"-->
            <tr  ng-repeat="station in stations | filter:query">
                <td>
                    {{ station.name }} 
                </td>
            </tr> 

            </table>
        </div>
    </div>
</div>
