<div ng-controller="SuburbanScheduleController">
  <div class="nav-bar-schedule">
    <a href="/#/suburban_transport/"><button 
      class="btn btn-primary">
        <span class="glyphicon glyphicon-list"></span>
        Вернуться к списку пригородных автобусов
    </button></a>
  </div>
  
 <div id="bus-info-suburban">
   <h1>
     {{currentBus.station}}
   </h1>
   <h2>
     № {{currentBus.number}}
   </h2>
   <p>
     Стоимость: {{currentBus.cost}}
   </p>
   <p>
     Время в пути: {{currentBus.time}}
   </p>
 </div>

 <table class="table table-striped">
   <thead>
    <th></th>
    <th>Из Великого Новгорода</th>
    <th>Из конечного пункта {{currentBus.station}}</th>
   </thead>
   <tbody>
     <tr>
       <td></td>
       <td>
         {{currentBus.from_city}}
       </td>
       <td>
         {{currentBus.to_city}}
       </td>
     </tr>
     <tr ng-repeat="day in daysOfWeek">
       <td>
         {{day.name}}
       </td>
       <td>
         <span ng-repeat="time in currentBus.schedule_from_city[day.key] | filterTimeSuburban">{{time}} </span>
       </td>
       <td>
         <span ng-repeat="time in currentBus.schedule_to_city[day.key] | filterTimeSuburban">{{time}} </span>
       </td>
     </tr>
 </tbody>
 </table>
</div>
