<div ng-controller="UrbanScheduleController as ctrl">
  
  <div class="nav-bar-schedule">
    <a href="/#/urban_transport/"><button 
      class="btn btn-primary">
        <span class="glyphicon glyphicon-list"></span>
        Вернуться к списку автобусов/троллейбусов
    </button></a>
  </div>

  <div class="well well-lg square-borders">
    <div class="row" ng-show="hideMenu">
      <button 
        ng-click="ctrl.hideButton()" 
        class="btn btn-success centerized"
        id="show-menu-button">
          <span class="glyphicon glyphicon-list"></span>
          Показать меню
      </button>

      <div class="row schedule-menu-well well">
        <div id="bus-number">{{currentTransport.name}}</div>
      </div>
    </div>
  
  <!-- @Menu @start --> 
  <div class="row schedule-menu-well well"
    ng-hide="hideMenu || ctrl.isNoMenu()"
    id="bus-number">
    {{currentTransport.name}}
  </div>

  <div class="schedule-menu-row row" ng-hide="hideMenu || ctrl.isNoMenu()">

    <div class="col-md-8 well well-lg schedule-menu-well" id="stations-choosing-container">
      <div class="checkbox-container" data-toggle="buttons">
        <p>Остановки:</p>
        <label 
          ng-repeat="station in currentStations track by $index"
          ng-click="ctrl.stationClicked(station)"
          class="btn btn-default square-borders">
          <input
            type="checkbox" 
            checked> 
              {{station.name}} 
          </input>
        </label> 
      </div>
      <div class="row" id="choose-all-row"> 
        <button 
          ng-click="ctrl.setAllStationsChecked()"
          class="btn btn-success centerized"
          id="choose-all-button">
          <span class="glyphicon glyphicon-ok"></span>
         Выбрать все 
        </button>
      </div>
    </div>

    <div class="col-md-4 schedule-menu-group schedule-menu-well well well-lg">
      <div ng-show="!everydayIsTheSame && !workdaysOnly && !weekendOnly" class="row" data-toggle="buttons">
        <div class="schedule-menu-button-row">
          Сегодня {{currentDayName}}, {{currentDayType}} день.
        </div>
        <label 
          class="btn btn-default schedule-menu-button "
          ng-class="{active: ctrl.isSelectedWorkdays()}"
          ng-click="ctrl.setCurrentWorkdays()">
            <input 
            type="radio" 
            name="options" 
            id="option1" 
            checked>
              Рабочий день
        </label>
        <label class="btn btn-default schedule-menu-button"
          ng-class="{active: ctrl.isSelectedWeekend()}"
          ng-click="ctrl.setCurrentWeekend()">
            <input 
            type="radio" 
            name="options" 
            id="option2"> 
              Выходной
        </label>
      </div>
      <div ng-show="everydayIsTheSame" class="row">
        Ежедневно.
      </div>
      <div ng-show="workdaysOnly" class="row">
        По рабочим дням.
      </div>
      <div ng-show="weekendOnly" class="row">
        По выходным дням.
      </div>


      <div class="row schedule-menu-button-row">
        <div>Фильтрация по времени:</div>
        <div class="schedule-menu-button-row">
          <select 
            ng-model="selectedHour"
            ng-options="i for i in hours"> 
          </select> 
          <select 
            ng-model="selectedMinute"
            ng-options="i for i in minutes"> 
          </select> 
        </div>
        <button 
          ng-click="ctrl.setCurrentTime()" 
          class="btn schedule-menu-button">
            Текущее время
            (<span current-time></span>)
        </button>
        <button 
          ng-click="ctrl.setNullTime()"
          class="btn btn-danger schedule-menu-button">
          <span class="glyphicon glyphicon-remove"></span>
          Сбросить 
        </button>
      </div>

      <div class="row">
        <label> 
          <input type="checkbox" ng-model="highlightOn">Подсвечивать уехавшие {{currentTransport.typeName}}</input>
        </label> 
      </div>

    </div>
    
  </div>
  <!-- @Menu @end --> 
   
  
<!--
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
-->
    <div 
      ng-hide="hideMenu || ctrl.isNoMenu()" 
      class="row">
        <button 
          ng-click="ctrl.hideButton()" 
          class="btn btn-primary centerized">
          <span class="glyphicon glyphicon-chevron-up"></span>
            Скрыть меню
        </button>
    </div>
  </div>
  <div class="schedule-table">
    <table class="table table-striped" oci.fixed-header>
      <thead> 
        <tr>
          <th 
            ng-show="ctrl.isStationShown($index)"
            ng-repeat="station in currentStations track by $index">
              <div class="schedule-header">
                {{station.name}}   
              </div>
              <!--{{station.name}}-->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in currentSchedule | filtertime:selectedHour:selectedMinute"> 
          <td ng-show="ctrl.isStationShown($index)"
              ng-repeat="time in row track by $index "
              ng-class="{'text-danger': ctrl.isTimeExpired(time) && highlightOn}">
            {{time}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
