<div ng-controller="ServiceController as ctrl" class="service-controller">
  <div class="well">
    <h3>С разным количеством станций: {{ctrl.withDifferentCountOfStations()}}</h3>
    <h3>С одинаковым количеством станций и одинаковыми названиями станций (ОК): {{ctrl.withSameStations()}}</h3>
  </div>
  <h2>Станции, у которых одинаковое количество станций, но названия отличаются</h2>
  <div 
    ng-repeat="transport in allTransport" 
    ng-show="ctrl.isTransportShown(transport)"
    class="service-transport">
    <h2 
      ng-class="{'bg-danger': !ctrl.isTransportOk(transport), 'bg-success': ctrl.isTransportOk(transport)}">
        {{transport.name}} ({{transport.typeNameSingle}})
        <span ng-show="!ctrl.isLengthOk(transport)"> | разное количество станций </span>
        <span ng-show="!ctrl.isStationsSame(transport)"> | станции различаются </span>

    </h2>
    <table class="table table-bordered">
    <tr>
      <td ng-repeat="station in transport.stations_workdays">  
        {{station.name}}
      </td>
    </tr>  
    <tr>
      <td ng-repeat="station in transport.stations_weekend">  
        {{station.name}}
      </td>
    </tr>  
    </table>
  </div>
</div>
