<!doctype html>
<html lang="en" ng-app="transportApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
    <div ng-controller="BusController as busController" class="container-fluid">
       
        <div class="text-center" id="main-input">
        Enter bus/or bus stop: <input ng-model="query.$">
        </div>         

        <div class="row">
            <div class="col-xs-3"> 
                <table class="table">
                    <tr>
                        <th><img height="50px" src="img/bus.png"/></th> 
                    </tr>
                        <tr ng-show="query" ng-repeat="bus in busController.buses | filter:query">
                                <td>
                                    <strong>
                                        {{ bus.name }} 
                                    </strong>
                                </td>
                        </tr>      
                </table>
            </div>      
        
            <div class="col-xs-6"> 
                <table class="table">
                    <tr>
                        <th><img height="50px" src="img/bus_stop.png"/></th> 
                    </tr>
                    <tr ng-show="query" ng-repeat="station in busController.stations | filter:query">
                        <td>
                            {{ station.name }} 
                        </td>
                    </tr> 
                </table>
            </div>

        </div>
        
        <!-- <div ng-repeat="bus in busController.buses | filter:query">
            
            <div class="row">
                <div class="col-xs-6"> 
                    {{ bus.name }} 
                </div>      
                <div ng-repeat="station in bus.stations" class="col-xs-6">
                    {{ station }} 
                </div>
            </div>
        </div/> -->

    </div> 
</body>
</html>
