body {
    /* font-family: Bender-Black; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    color: #333333;
}

/* Main view */
.social-logo {
    height: 35px;
}

#main-text-about {
    text-align: right;
    font-size: 40px;
}

#main-text-about-left {
    text-align: left;
    font-size: 40px;
}

.main-text {
    line-height: 256px;
}

.main-right-border {
    border-right: 1px #d7d7d7 solid;
}

.main-features-container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-features-container ul > li {
    font-size: 20px;
    list-style-type: none;
}

.main-row {
    display: flex;
    margin-top: 20px;
}

.header-main {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px #d7d7d7 solid;
    padding: 10px;
}

.live-counter {
    display: inline;
    float: right;
}

#logo-img {
    height: 49px; 
}


#footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #3071a9;
    border-color: #285e8e;
    color: white;
}

/* Main view */


/* Stops view */
.stops-not-impl {
    text-align: center;
    font-size: 40px;
}
/* Stops view */


/* Buses view */
.buses-txt-transport {
    font-size: 20px;
}

.buses-full-info {
    padding: 10px;
    margin-top: 10px;
    height: 40px;
}

.buses-full-info-right {
    float: right;
    display: inline-block;
}

.buses-full-info-left {
    text-align: left;
}

.buses-row {
    display: flex;
}

.button-container {
    overflow-y: auto;
}

.button-container > a {
    float: left;
    margin: 15px;
    color: #333333;
}

.bus-button {
    width: 70px;
    /*border-radius: 0;*/
}

.mixed-container {
    border-top: 1px #d7d7d7 solid;
}
/* Buses view */


/* Schedule view*/
.checkbox-container {
    overflow-y: auto;
}

.checkbox-container > label {
    float: left;
    margin: 5px;
    color: #333333;
    width: 235px;
}

#station-checkbox {
    margin-right: 5px;
}


/*
thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 60px;

}
tbody {
    height: 500px;
    overflow-y: auto;
}

thead {
}

tbody td, thead th {
    width: 10%; 
    float: left;
} 
*/
/* the maximum height of the table: */

div.schedule-table div.fixed-table-container-inner {
    max-height: 500px;
    border: 1px solid #aaaaaa;
    width: 95%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.schedule-header {
    position: absolute;
    top: 0;
    width: 90px;
    height: 75px;
    /*text-align: center;*/
    border-left: 1px #d7d7d7 solid;
    padding-left: 5px;
}

/* the height of the header row */
div.schedule-table div.th-inner {
    line-height: 25px;
}

/* the height of the header row - this needs to match line-height above */
div.schedule-table div.fixed-table-container {
   padding-top: 25px;
}

div.fixed-table-container-inner > table > tbody >tr > td {
    padding: 0;
}

div.schedule-table tr.hidden-header .th-inner {
  padding-right: 5px;
}

div.schedule-table > th, div.schedule-table > td {
    /*text-align: center;*/
}

div.schedule-table > td {
    /*text-align: center;*/
}

.schedule-table-ui {
    width: 500px;
    height: 500px;
}

.centerized {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.schedule-transport-icon {
    width: 60px;
}

.schedule-transport-div {
    padding: 0;
    padding-top: 30px;
}

.schedule-menu-button {
    width: 150px;
}

.schedule-menu-button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-bar-schedule {
    margin-bottom: 20px;
    padding-left: 20px;
}

.square-borders {
    border-radius: 0;
}

#choose-all-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
}

#choose-all-row {
    border-top: 1px #d7d7d7 solid;
    margin-top: 5px;
}

#stations-choosing-container {
    padding-bottom: 10px;
}

#bus-number {
    font-size: 80px;
    text-align: center;
}

.schedule-menu-well {
    background: white;
    border-radius: 0;
    width: 100%;
}

#show-menu-button {
    margin-bottom: 20px;
}


#buses-container {
    border-right: 1px #d7d7d7 solid;
}

.schedule-menu-row {
    display: flex;
}

.left-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background: navy;
    color: white;
    background: #343131;
}

.main-content {
    position: fixed;
    top: 50px;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
}

#buses-button {
    margin-top: 10px;
    border-radius: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.station-button {
    border-radius: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#home-link {
    color: white;
}

#menu-block {
    margin: 0;
    padding: 10px;
}

.transport-button {
    margin: 1px;
    width: 40px;
}

#transport-block {
    margin-left: 5px;
}
/* Schedule view*/


/* Service view */
.service-transport {
    margin: 30px;
    border-top: 1px #d7d7d7 solid;
}
.service-controller > h2 {
    text-align: center;
}
/* Service view */

/* Suburban schedule view */
#bus-info-suburban {
   margin-left: 20px; 
}
/* Suburban schedule view */

#left-panel-header {
    background: #27AE60;
    color: white;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
